
html {
	overflow-x: hidden;
        overflow-y: auto;
}



.menu {	
	width: 11.5%;       /*10.5%;*/

	padding-top: 0px;
	margin: 0px;
	
	padding-left: 0.25%;
	padding-right: 0.5%;
	padding-top: 0.5%;
	padding-bottom: 3%;
}




/* width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #004a6d; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #009ad6; 
    border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00b8ff;
}





body, td, input, button, .component_list_item_text_bg {
	font-size: 13pt;
}
h1 {
	font-size: 25pt;
}
h2 {
	font-size: 21pt;
}
h3 {
	font-size: 18pt;
}
.small_window {
	font-size: 13pt;
}
.intro_slogan {
	font-size: 15pt;
}


.content {
	padding-left: 15%;
	padding-right: 5%;
	padding-top: 1.8%;
	padding-bottom: 4%;
}





img.component_left {
	width: 70pt;
	margin-right: 14pt;
	margin-bottom: 7pt;
}





img.component_left_small {
	width: 36pt;
	margin-right: 16pt;
	margin-bottom: 8pt;
}

img.component_left_xxs {
	padding-right: 22px;
	padding-bottom: 15px;	
}

img.left {
	padding-right: 24px;
	padding-bottom: 15px;
}

img.component_left_xs_triple, img.component_left_xs_triple_last {
	width: 22pt;
	padding-right: 0pt;
	padding-bottom: 8pt;	
}
img.component_left_xs_triple_last {
	padding-right: 24px;	
}


img.component_left_medium {
	width: 90pt;
	margin-right: 16pt;
	margin-bottom: 8pt;
}






img.adventure_card_small_list_item {
	width: 75pt;
	height: 115.3125pt;
	margin-right: 7pt;
	margin-bottom: 7pt;
}

img.adventure_card {
	width: 110pt;
	padding-right: 15pt;
	padding-bottom: 8pt;
}