# This is the global system configuration file for Marmalade applications.
# This file is automatically included in all application deployments and
# used when debugging an x86 build.

[S3E]

# Must reset before end of file
{ID=ANY}
{CLASS=ANY}

[TRACE]
IWCRT_VERBOSE=0
PTHREAD_VERBOSE=0
PTHREAD_VVERBOSE=0
LOADER_VERBOSE=1
# -- END S3E.ICF --
