# comments and whitespace stripped by deployment tool
[Util]
MemMgrMaxAllocWarning=0
[S3E]
DeferredDisplaySubsystemLoading=1
SysAppVersion=0.1.2
SysErrorDontStop=0
SysStackSize=2048000
SplashscreenWidth=970
SplashscreenHeight=970
SplashscreenFile=splash.jpg
SplashscreenBkR=0
SplashscreenBkG=0
SplashscreenBkB=0
MemSize=130000000
MemSizeDebug=130000000
{OS=WINDOWS}
MemSize=150000000
{}
{OS=OSX}
MemSize=150000000
{}
SysAppNeverSleep=0
DispFixRot=Portrait
IOSDispScaleFactor=native
SysGlesVersion=2
[CGE]
FullscreenWidth=-1						# -1 = maximal enumerated resolution, pixel width otherwise
FullscreenHeight=-1						# -1 = maximal enumerated resolution, pixel height otherwise
FullscreenBpp=-1						# -1 = maximal enumerated bpp, bpp otherwise (recommended 32)
FullscreenAutoRotation=2				# 2 = width and height are swapped always to landscape mode,
{}
[S3E] # works only for desktop version
WinResizable=1
WinUseNonExclusiveModeFullscreen=1
WinAllowAltEnter=0
[GX]
NumTPages=400
DataCacheSize=10000000
VertCacheSize=200000
[GL]
EGL_SAMPLE_BUFFERS=1
EGL_SAMPLES=4
[TRACE]
FILE=0
IWCRT=0
SOCKET=0
WINDOW=0
HTTP=0
PTHREAD_VVERBOSE=0
UIScrollList=0
FILE_VERBOSE=0
DEVICE_VERBOSE=0
POINTER_VERBOSE=0
CALLBACKS_VERBOSE=0
{}
[s3e]
SysAppVersion=3.6.900
SysAppCaption="Galaxy Trucker"
